---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'input'> {
	input?: 'field' | 'radio' | 'checkbox-button'
	name: string
	id: string
	class?: string
	label?: string
	placeholder?: string
}

const { class: className, name, id, label, placeholder, input = 'field', type = 'text', ...rest } = Astro.props
---

{
	input === 'field' && (
		<div class:list={['form-field', className]}>
			<label for={id}>{label}</label>
			<input class="input-reset" {placeholder} {type} {name} {id} data-validate-field={id} {...rest} />
		</div>
	)
}

{
	input === 'checkbox-button' && (
		// тут будут стили чекбокса
		// https://codepen.io/attilahajzer/pen/WbbLpe
		<div class:list={['form-checkbox-btn', className]}>
			<input class="visually-hidden" type="checkbox" {name} {id} data-validate-field={id} {...rest} />
			<label for={id}>{label}</label>
		</div>
	)
}

{
	input === 'radio' && (
		<div class:list={['form-control', className]}>
			<input class="visually-hidden" type="radio" {name} {id} data-validate-field={id} {...rest} />
			<label for={id}>{label}</label>
		</div>
	)
}

<style is:global>
	.input-reset {
		appearance: none;
		border: none;
		border-radius: 0;
		font-family: var(--ff-primary);
		background-color: var(--clr-white);

		&::-webkit-search-decoration,
		&::-webkit-search-cancel-button,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration {
			display: none;
		}

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			appearance: none;
			margin: 0;
		}

		&[type='number'] {
			appearance: textfield;
		}
	}

	/* поля ввода */
	.form-field {
		display: grid;
		font-weight: 500;
		font-size: var(--font-sm);
		line-height: var(--lh-primary);
		color: var(--clr-text-primary-200);
		row-gap: 8px;

		input {
			border: 1px solid var(--clr-field-border-default);
			border-radius: 0;
			width: 100%;
			font-weight: 400;
			font-size: var(--font-primary);
			line-height: var(--lh-primary);
			color: var(--clr-field-text);
			background-color: var(--clr-field-bg);
			transition: border-color var(--tr-primary);
			padding-block: 20px;
			padding-inline: 24px;

			&::placeholder {
				color: var(--clr-field-placeholder);
			}

			&:focus {
				outline: none;
				border-color: var(--clr-field-border-focused);
			}

			&:disabled {
				cursor: not-allowed;
			}
		}
	}

	.form-field__error {
		margin-top: -4px;
		font-weight: 400;
		color: var(--clr-field-text-errored);
	}

	/* контролы */
	.form-control {
		display: flex;

		input:checked + label::after {
			opacity: 1;
		}

		input:checked + label::before {
			border-color: var(--clr-radio-border-focused);
		}

		input:focus-visible + label::before {
			border-color: var(--clr-radio-border-focused);
		}

		input:checked:focus-visible + label::before {
			outline: 1px solid black;
			border-color: var(--clr-radio-border-default);
		}

		label {
			position: relative;
			display: flex;
			align-items: center;
			font-weight: 400;
			font-size: var(--font-primary);
			line-height: var(--lh-primary);
			color: var(--clr-radio-text);
			cursor: pointer;

			&::before {
				content: '';
				display: flex;
				margin-right: 12px;
				border: 1px solid var(--clr-radio-border-default);
				border-radius: 100%;
				width: 24px;
				background-color: var(--clr-radio-bg);
				transition: border-color var(--tr-primary);
				aspect-ratio: 1;
			}

			&::after {
				content: '';
				position: absolute;
				left: 8px;
				width: 8px;
				background-color: var(--clr-radio-border-focused);
				opacity: 0;
				aspect-ratio: 1;
			}
		}
	}

	/* чек-бокс кнопка */
	.form-checkbox-btn {
		display: flex;

		input:checked + label {
			border-color: var(--clr-checkbox-button-border-selected);
			border-radius: 0;
			font-weight: 500;
			color: var(--clr-checkbox-button-text-selected);
			background-color: var(--clr-checkbox-button-border-selected);
		}

		input:focus-visible + label {
			border-color: var(--clr-checkbox-button-border-focused);
		}

		input:checked:focus-visible + label {
			outline: 2px solid black;
			border-color: transparent;
		}

		label {
			display: flex;
			justify-content: center;
			border: 1px solid var(--clr-checkbox-button-border-default);
			border-radius: var(--br-primary);
			font-weight: 400;
			font-size: var(--font-primary);
			line-height: var(--lh-primary);
			text-align: center;
			color: var(--clr-checkbox-button-text-default);
			background-color: var(--clr-checkbox-button-bg-default);
			transition:
				border-color var(--tr-primary),
				background-color var(--tr-primary),
				border-radius var(--tr-primary),
				color var(--tr-primary);
			cursor: pointer;
			user-select: none;
			padding-block: 20px;
			padding-inline: 24px;
		}
	}
</style>
